.results-tool{
	margin-top:2%; 
	display: inline-flex;
	width: 80%;
	//margin-left:10%;
}

.results-time{
	font-weight: bold;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
	font-size: 20px;
}	

.example-card {
  max-width: 400px;
}

.spacer {
  margin-left: 10%;
}